:root{
 --mainBlue:#2a2a72;
 --lightBlue:#009ffd;
 --mainWhite:#f3f2f3;
 --mainDark:#232528;
 --mainYellow:#ffa400;
 --mainGrey:Grey; 
 --mainOrange: Orange;
 --darkRed: red; 
 
}

body{
font-family: 'Satisfy', cursive !important;
background: var(--mainGrey) !important;
background: url("/desk1.jpg")!important;
color:var(--mainWhite) !important;
background-Image: "url(" + "https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" + ")",
}
.text-title{
  font-family: 'Crete Round', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.text-yellow{
  color:var(--mainYellow);
}
.navbar {
  color: red !important;
  background-color: grey !important;
}